// font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// variables
$info: #384357;
$success: #01c882;

// globals
html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  object-fit: cover;
}

body {
  font-family: "Poppins", sans-serif !important;
}

// nav
.custom-nav {
  transition: all 0.4s ease;
}

.nav-link {
  font-size: 1.1rem;
  margin: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}

// header
.header {
  position: relative;
  height: 100vh;

  &-content {
    z-index: 2;
    height: 100vh;
  }

  .header-btn:hover {
    color: #fff;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .bg-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.trusted {
  img {
    width: 75%;
  }
}

// quotes
.quotes {
  background: url("../images/Wavey-Fingerprint.svg") center center/cover
    no-repeat;

  .glide__slide {
    img {
      width: 15rem;
    }
  }

  .glide__slide:hover {
    cursor: grab;
  }

  .glide__slide:active {
    cursor: grabbing;
  }
}

// talent

.talent {
  background: linear-gradient(rgba(0, 0, 0, 0.4), $info);
}

.talent-links {
  img {
    width: 5rem;
    display: block;
    margin: auto;
  }

  .talent-link {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .talent-link.show {
    opacity: 1;
  }

  .company-logo {
    width: 45%;
  }
}

// ebook
.e-book {
  background: linear-gradient(rgba(0, 0, 0, 0.4), $info);

  img {
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
  }
}

// footer
.footer-content {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
